---
import Layout from "../layouts/Layout.astro";
---

<Layout title="うぃーすた全国交流会の歩み - 第8回うぃーすた全国交流会">
  <div class="overflow-hidden relative z-[-1] mt-[80px] lg:mt-[78px] bg-[#fffdfd] border-b-[4px] border-red-100 w-full md:h-72 max-md:h-64 flex flex-col justify-center pl-8 zen-kaku-gothic-new">
    <span class="overflow-hidden ml-10 pt-3 max-md:ml-1 text-[50px] font-bold outline-text md:tracking-widest shiny-slide z-0">
      CHARACTER
    </span>
    
    <span class="bg-[#fffdfd] mt-3 ml-10 pb-3 h-30 max-md:ml-1 text-[20px] z-10">
      公式キャラクター
    </span>
  </div>

  <div class="fade-in bg-white/30 text-color zen-kaku-gothic-new text-sm lg:text-base" style="line-height: 2.05;">
    <div class="margin-contents pt-8 md:px-12 max-md:px-6">

      <div class="h-[15px] md:h-[40px]"></div>

      「すぅ」と「ふぅ」が公式キャラクターを務めます！

      <div class="h-[15px] md:h-[40px]"></div>

      <div class="flex flex-col md:flex-row items-center md:items-start gap-8 md:gap-12">
  
        <div class="flex-1 order-1">
          <div class="h-[10px]"></div>
          <h2 class="text-xl md:text-2xl font-bold mb-4 border-l-4 border-red-400 pl-4">すぅ</h2>
          <p>
            うぃーすたを象徴する色である赤のリボンや靴を身につけており、シャボン玉を模した飾りも襟についています。
            <br>
            そしてシャボン玉をイメージしたお団子ヘアをしています。
          </p>
        </div>
      
        <div class="w-full md:w-1/3 order-2">
          <img 
            src="/images/su.png" 
            alt="キャラクター画像" 
            class="w-full h-auto rounded-lg shadow-md object-cover"
          />
        </div>
      
      </div>
      
      <div class="h-[50px] md:h-[40px]"></div>
      
      <div class="flex flex-col md:flex-row items-center md:items-start gap-8 md:gap-12">
        
        <div class="w-full md:w-1/3 order-2 md:order-1">
          <img 
            src="/images/fu.png" 
            alt="キャラクター画像" 
            class="w-full h-auto rounded-lg shadow-md object-cover"
          />
        </div>
      
        <div class="flex-1 order-1 md:order-2">
          <div class="h-[10px]"></div>
          <h2 class="text-xl md:text-2xl font-bold mb-4 border-l-4 border-blue-400 pl-4">ふぅ</h2>
          <p>
            吃音啓発の色であるシーグリーンの蝶ネクタイやシャボン玉ブローチを身につけています。
          </p>
        </div>
      
      </div>

      </div>
      <div style="height: 120px"></div>
  </div>
</Layout>